<!DOCTYPE html>
{{#if user}}
  <div class="jumbotron">
    <h1>Schoolie, your lightweight school management system.</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}"/></p>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Schoolie, your lightweight school management system.</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-success btn-lg" role="button">
        <i class="fa fa-graduation-cap"></i>
        Sign in as Student! 
      </a>
      <a href="/signin" class="btn btn-danger btn-lg" role="button">
        <span class="glyphicon glyphicon-briefcase"></span>
        Sign in as Teacher! 
      </a>
    </p>
  </div>

{{/if}}