<!DOCTYPE html>
<!-- views/signin.handlebars -->
<div class="jumbotron text-center">
	<h1>Sign in</h1>
	<p>We're using passport.js to demonstrate user authentication. Please sign-in with your Local, Twitter, Google, or Facebook account to view your profile.</p>
	<div id="local">	
		<a data-toggle="collapse" data-parent="#local" href="#local-sign-in" class="btn btn-default btn-md" role="button">I already have an account</a>
		<a data-toggle="collapse"  data-parent="#local" href="#local-reg" class="btn btn-default btn-md" role="button">I need to make an account</a>
		
		<div class="panel panel-default">

			<!-- LOGIN -->
			<form id="local-sign-in" class="collapse in" action="/login" method="post">
				<div>
					<p></p>
					<label>Username:</label>
					<input type="text" name="username"/>
				</div>
				<div>
					<label>Password:</label>
					<input type="password" name="password"/>
				</div>
				<div>
					<input type="submit" class="btn btn-success btn-sm" value="Log In"/>
				</div>
			</form>

			<!-- REGISTER -->
			<form id="local-reg" class="collapse" action="/local-reg" method="post">
				<div>
					<p></p>
					<label>New Username:</label>
					<input type="text" name="username"/>
				</div>
				<div>
					<label>New Password:</label>
					<input type="password" name="password"/>
				</div>
				<div>
					<input type="submit" class="btn btn-success btn-sm" value="Register"/>
				</div>
			</form>
		</div>
	</div>

</div>